<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class='user'>
<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to "logout", destroy_user_session_path %>
<% else %>
<%= link_to "login", new_user_session_path %>
<%= link_to "注册", new_user_registration_path %>
<% end %>
</div> -->

<%= yield %>

</body>
</html>
